<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- line awesome -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- css3 -->
    <link rel="stylesheet" href="/css/main.css">
    <title> | <%- title %></title>
</head>
<body>
    
 <%- body %>




 <!-- custom JS -->
 <script src="/js/index.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>