@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color1: #a50462;
  --main-color2: #A3238E;
  --main-color: #632264;
  font-size: 70%;
}


body {
  background: var(--main-color);
}

label {
  font-size: 1.5rem;
  color: var(--main-color);
}

form {
  width: 30% !important;
  background: #fff;
  padding: 2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  position: relative;
}

.form-group input {
 padding: 8px 5px;
 font-size: 15px;
 margin-bottom: 15px;
 border-radius: 5px;
 background-color: transparent;
}
.form-group input:focus {
  border-color: none;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid var(--main-color);
  
}

form .icon {
  position: absolute;
  right: 8px;
  top: 5px;
  font-size: 26px;
  color: #777;
  cursor: pointer;
}
form .icon:hover {
  color: var(--main-color);
}
.btns-auth {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}
.auth-btn {
  border-radius: 5px;
  border: 1px solid var(--main-color);
  text-align: center;
  font-size: 15px;
  padding: 5px 15px;
  transition: all 0.5s ease;
}
.auth-btn:hover {
 background-color: var(--main-color2);
 color: #fff;
}



.btn-warning-auth {
  flex: 1;
 margin-right: 5px;
 background-color: var(--main-color);
 color: #fff;
}

.btn-outline-auth {
  flex: 1;
  transition: all 0.5s ease;
 
}
.btn-outline-auth:hover{
  border: none;
}

/* responsive */

@media only screen and (max-width: 1200px) {
  form {
    width: 50% !important;
  }
}

@media only screen and (max-width: 992px) {
  form {
    width: 50% !important;
  }
}

@media only screen and (max-width: 768px) {
  form {
    width: 60% !important;
  }
}

@media only screen and (max-width: 560px) {
  form {
    width: 95% !important;
    padding: 10px;
  }
}
