<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-revplus">

    <div class="container">
        <div class="row">
            <div class="col py-5 text-center">
                <h3 class="text-center">Ooops 403 Error, You're not authorized to perform the action </h3>
                <p>
                    <a href="/api/v2/index/dashboard" class="btn btn-info">click here to return to dashboard</a>
                </p>
            </div>
        </div>
    </div>

</body>

</html>