<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-revplus">

    <div class="container">
        <div class="row">
            <div class="col py-5 text-center ">
                <h2 class="text-center">Page Not Found  <% if(!user){%>
                <span class="ms-2"><a href="/" class="btn btn-info"> Return Home</a></span>
               <% }else{ %>
                <span class="ms-2"><a href="/api/v2/index/dashboard" class="btn btn-info">Back to Dashboard</a></span>
              <% } %> </h2>
             
            </div>
        </div>
    </div>
    
</body>
</html>