<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document</title>
</head>

<body class="bg-revplus">

    <div class="container py-5 text-center mt-5">

        <h1> Oooops, Unfortunately the link has expired </h1>

        <a href="/api/v2/secure/forgot-password" class="btn btn-outline-info m-3"> Click Here to Get a new One </a>

    </div>


</body>

</html>