<%- include('../partials/_header') %>
    <%- include('../partials/_sidebar') %>
        <div class="main-content">

            <%- include('../partials/_main_content_header') %>

                <main>
                    <div class="conatiner">
                        <div class="col bg-light shadow-sm breadcrumb-height mt-2">
                            <p class="text-muted text-left py-3 mx-5 align-items-center"> <a
                                    href="/api/v2/index/dashboard">Dashboard</a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col bg-revplus py-2">
                                <Marquee>
                                  <span class="mx-5 fs-5">Welcome to RevolutionPlus Property Limited</span>  
                                  <span class="mx-5 text-revplus">.</span> 

                                  <span class="mx-5 fs-5 text-capitalize"><%= user.name %></span>  
                                  <span class="mx-5 text-revplus">.</span> 

                                  <span class="mx-5 fs-5">For any Inquiries call us on 012557386, email: info@revolutionplusproperty.com or visit our office at 1 Olufimilayo, Opebi Ikeja Lagos</span>  
                                  <span class="mx-5 text-revplus">.</span>  
                                  <span class="mx-5 fs-5">Check Out Our New Properties On Sale</span>  
                                <span class="mx-5 text-revplus">.</span>
                                <span class="mx-5 fs-5"> We are 24/7 at your Service</span>
                                </Marquee>
                            </div>
                        </div>
                    </div>

                  



                    
                </main>



        </div>


        </body>

        </html>