<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>

<body>

    <div class="container mt-5">
        <form action="/api/v2/reset/forgot-password" method="POST">

            <%- include('../partials/flash_messages') %>

            <h2 class="text-center text-muted my-3">Forgotten Password ?</h2>
          
                <div class="mb-2 form-group">
                    <label for="email" class="form-label">Enter Your Email to get a new Password</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email "
                        required>
                </div>

                <div class="mt-4">
                    <a href="/" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>


    <script src="/js/form.js"></script>

</body>

</html>