<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>

<body>

    <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                   <a href="/"> <img src="/img/Revplus.webp" alt="Revplus-Logo"></a>
                </div>
            </div>
        <form action="/api/v2/reset/forgot-password" method="POST">

            <%- include('../partials/flash_messages') %>

            <h4 class="text-center text-muted my-3">Forgotten Password ?</h4>
          
                <div class="mb-2 form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email "
                        required>
                </div>

                <div class="btns-auth">
                    <a href="/" class="auth-btn  btn-warning-auth">Cancel </a>
                
                    <button type="submit" class="auth-btn  btn-outline-auth">Submit</button>
                </div>

        </form>
    </div>


    <script src="/js/form.js"></script>

</body>

</html>