<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/styggles.css"> -->
  <title>HomePage</title>
</head>

<!-- <body>

  <div class="container-fluid">

    <div class="row homepage-height">

      <div class="col-md-6 left-height">

        <div class="row">

          <div class="col ps-5 py-4">
            <div class="img-logo">
              <img src="/img/revolutionplus-logo.png" alt=" revolutionplus-logo">
            </div>
          </div>

          <div class="col loginBtn text-end">
            <a href="/api/v2/secure/login" class="btn my-5 py-2">Login</a>
          </div>
        </div>

        <div class="row align-items-center title-height ">
          <div class="col ps-5">
            <h3 class="home-title display-3">Customer's Portal</h3>
            <p class="fs-4 text-dark">This client management portal for RevolutionPlus existing and customers, here you
              will be able to manage and stay
              up-to-date about all your transactions with us .</p>

            <div class="loginBtn">
              <a href="api/v2/secure/login" class="btn w-25 my-5 py-2">Learn More</a>
            </div>
          </div>
        </div>


        <div class="follow-icons d-flex justify-content-end me-5">
          <span class="fs-4 text-muted mx-2">Follow Us On</span>
          <a href=""><span class="lab la-facebook la-2x"></span></a>
          <a href=""><span class="lab la-twitter la-2x"></span></a>
          <a href=""><span class="lab la-instagram la-2x"></span></a>
        </div>

      </div>

      <div class="col-md-6 left-height p-0">
        <div class="mt-5">
       <img src="/img/RevEstate.png" alt="" class="mt-5">

        </div>
      </div>

    </div>

  </div>



  <script src="/js/index.js"></script>
  
</body> -->

</html>