<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid bg-white">
        <!-- header -->
        <div class="row new-home-height px-5 py-3 mb-5 ">
            <div class="col pb-3">
                <a href="http://localhost:3000/">
               <img src="/img/RevolutionPlusLogo.png" alt="" class="ms-3 mt-3">
            </a>
            </div>

            <div class="col text-end py-3">
                <a href="/api/v2/secure/login" class="btn btn-revplus mt-3 me-3 px-5 py-2"> Login</a>
            </div>
        </div>

       <div class="row mt-5 px-3 pb-4 home-content">
           
        <div class="col-sm-6">
        <div class="col ps-5 home-title-padding">
            <h3 class="home-title display-3">Customer's Portal</h3>
            <p class="fs-4 text-dark title-text-center">Revolution Plus Properties clients' management portal, stay up-to-date, buy new property, verify allocation status, and manage all your transactions with us.
            </p>
        
            <!-- <div class="loginBtn">
                <a href="/api/v2/secure/login" class="btn btn-revplus mt-5 me-3 px-5 py-2 d-sm-non">Learn More</a>
            </div> -->
        </div>

        </div>

        <div class="col-sm-6">
            <img src="/img/RevEstate.png" alt="" class="home-image">
        </div>
       
       </div>

      

    </div>

   
    
</body>
</html>