
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>

<body>

    <div class="container mt-5">
        <form action="" method="POST">
            <h2 class="text-center  my-2">Reset Your Password</h2>
            <%- include('../partials/flash_messages') %>
        
                <div class="mb-2 form-group">
                    <label for="password" class="form-label"> Enter New Password</label>
                    <input type="password" class="form-control password" id="password" name="password" required>
                </div>
                <div class="mb-2 form-group">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control password" id="password2" name="password2"
                        placeholder="Confirm Password">
                </div>
                <a href="/" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <script src="/js/form.js"></script>

</body>

</html>